<!DOCTYPE HTML>
<!--
	Tessellate by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>US Congress Stock Trades</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<section id="header" class="dark">
				<header>
					<h1>US Congress Stock Trades</h1>
					<p>Public Disclosures of US Representatives by District from Year 2020 to Present.</p>
					<p>API provided by https://housestockwatcher.com/</p>
					<p>(https://house-stock-watcher-data.s3-us-west-2.amazonaws.com/data/all_transactions.json)</p>
				</header>
				<footer>
					<a href="#first" class="button scrolly">Let's Get Started</a>
				</footer>
			</section>

		<!-- First -->

			<section id="first" class="main">
				<div class="content dark style1 featured">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-narrow">
								<section>
									<span class="feature-icon"><span class="icon fa-clock"></span></span>
									<header>
										<h3>Timing</h3>
									</header>
									<p>Congress is privy to special information, so the timing and specifics of Stock Trades is a grave concern of corruption.</p>
								</section>
							</div>
							<div class="col-4 col-12-narrow">
								<section>
									<span class="feature-icon"><span class="icon solid fa-bolt"></span></span>
									<header>
										<h3>Disclosed</h3>
									</header>
									<p>Members of Congress are required to disclose trades in Public Companies</p>
								</section>
							</div>
							<div class="col-4 col-12-narrow">
								<section>
									<span class="feature-icon"><span class="icon solid fa-cloud"></span></span>
									<header>
										<h3>Accountability</h3>
									</header>
									<p>Hold your member of Congress accountable with this open data.</p>
								</section>
							</div>
							<div class="col-12">
								<footer>
									<a href="#dataTable" class="button scrolly">On to the Data</a>
								</footer>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="dataTable">
				<header></header>
					<div class="container">

						<h2>Stock Trade Data </h2>
					</div>
				</header>

				<div class="row">
					<div class="col-4 col-12-narrow">				
						<input type="text" name="" value="" id="input" placeholder="Enter District(Ex. MT00)">
					</div>
					<div class="col-4 col-12-narrow">
						<button onclick="document.getElementById('input').value =''">Clear</button>
					</div>
					<div class="col-4 col-12-narrow">
						<button type="button" name="tableButton" onclick="getData()">Get Trades Info</button>
					</div>

				</div>
				<br/>
				<div class="row">
					<div class="col-4 col-12-narrow">
						<div class="select" tabindex="-1">
							<select name="department" id="department">
								<option value="">Choose a State</option>
								<option value="AL">AL</option>
								<option value="AK">AK</option>
								<option value="AR">AR</option>
								<option value="AZ">AZ</option>
								<option value="CA">CA</option>
								<option value="CO">CO</option>
								<option value="CT">CT</option>
								<option value="DE">DE</option>
								<option value="FL">FL</option>
								<option value="GA">GA</option>
								<option value="HI">HI</option>
								<option value="ID">ID</option>
								<option value="IL">IL</option>
								<option value="IN">IN</option>
								<option value="IA">IA</option>
								<option value="KS">KS</option>
								<option value="KY">KY</option>
								<option value="LA">LA</option>
								<option value="MA">MA</option>
								<option value="MD">MD</option>
								<option value="ME">ME</option>
								<option value="MI">MI</option>
								<option value="MN">MN</option>
								<option value="MO">MO</option>
								<option value="MT">MT</option>
								<option value="NC">NC</option>
								<option value="ND">ND</option>
								<option value="NE">NE</option>
								<option value="NH">NH</option>
								<option value="NJ">NJ</option>
								<option value="NM">NM</option>
								<option value="NV">NV</option>
								<option value="NY">NY</option>
								<option value="OH">OH</option>
								<option value="OK">OK</option>
								<option value="OR">OR</option>
								<option value="PA">PA</option>
								<option value="RI">RI</option>
								<option value="SC">SC</option>
								<option value="SD">SD</option>
								<option value="TN">TN</option>
								<option value="TX">TX</option>
								<option value="UT">UT</option>
								<option value="VT">VT</option>
								<option value="VA">VA</option>
								<option value="WA">WA</option>
								<option value="WV">WV</option>
								<option value="WI">WI</option>
								<option value="WY">WY</option>
							</select>
						</div>
					
					</div>
					<div class="col-4 col-12-narrow">
						<button onclick="document.getElementById('department').value =''">Clear</button>
					</div>
				</div>	
				<div class="table-wrapper">
					<table class="default">
						<thead>
							<tr>
								<th>Year</th>
								<th>Transaction Date</th>
								<th>District</th>
								<th>Representative</th>
								<th>Stock Ticker</th>
								<th>Amount</th>
								<th>Asset Description</th>
							</tr>
						</thead>
						<tbody id="data">
<!-- 							<tr>
								<td>00001</td>
								<td>Lorem ipsum dolor</td>
								<td>Ut porttitor sagittis lorem quis nisi ornare.</td>
								<td>29.99</td>
							</tr>
							<tr>
								<td>00002</td>
								<td>Sit amet nullam</td>
								<td>Ut porttitor sagittis lorem quis nisi ornare.</td>
								<td>19.99</td>
							</tr>
							<tr>
								<td>00003</td>
								<td>Feugiat felis viverra</td>
								<td>Ut porttitor sagittis lorem quis nisi ornare.</td>
								<td>29.99</td>
							</tr>
							<tr>
								<td>00004</td>
								<td>Sagittis enim felis</td>
								<td>Ut porttitor sagittis lorem quis nisi ornare.</td>
								<td>19.99</td>
							</tr>
							<tr>
								<td>00005</td>
								<td>Nullam sed vestibulum</td>
								<td>Ut porttitor sagittis lorem quis nisi ornare.</td>
								<td>19.99</td>
							</tr> -->
						</tbody>
<!-- 						<tfoot>
							<tr>
								<td colspan="3"></td>
								<td>100.00</td>
							</tr>
						</tfoot> -->
					</table>
				</div>
			</section>

		<!-- Second -->
<!-- 			<section id="second" class="main">
				<header>
					<div class="container">
						<h2>Euismod sed feugiat lorem tempus magna</h2>
						<p>Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet consequat<br />
						feugiat. Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet.</p>
					</div>
				</header>
				<div class="content dark style2">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-narrow">
								<section>
									<h3>Augue vivamus sed ipsum commodo lorem dolor</h3>
									<p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales. Diam
									tempor dui lacinia eget ornare varius gravida. Gravida dis placerat lectus ante
									vel nunc euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus
									augue cubilia vivamus nisi eu eget ornare varius gravida euismod.  Gravida dis
									lorem ipsum dolor placerat magna tempus feugiat.</p>
									<p>Lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
									accumsan vivamus augue cubilia vivamus nisi eu eget ornare varius gravida dolore
									euismod lorem ipsum dolor.</p>
									<footer>
										<a href="#third" class="button scrolly">Accumsan nisi tempor</a>
									</footer>
								</section>
							</div>
							<div class="col-8 col-12-narrow">
								<div class="row">
									<div class="col-6"><a href="#" class="image fit"><img src="images/pic01.jpg" alt="" /></a></div>
									<div class="col-6"><a href="#" class="image fit"><img src="images/pic02.jpg" alt="" /></a></div>
									<div class="col-6"><a href="#" class="image fit"><img src="images/pic03.jpg" alt="" /></a></div>
									<div class="col-6"><a href="#" class="image fit"><img src="images/pic04.jpg" alt="" /></a></div>
									<div class="col-6"><a href="#" class="image fit"><img src="images/pic05.jpg" alt="" /></a></div>
									<div class="col-6"><a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		-->
		<!-- Third -->
<!-- 			<section id="third" class="main">
				<header>
					<div class="container">
						<h2>Ornare varius lorem ipsum ante lectus</h2>
						<p>Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet consequat<br />
						feugiat. Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet.</p>
					</div>
				</header>
				<div class="content dark style3">
					<div class="container">
						<span class="image featured"><img src="images/pic07.jpg" alt="" /></span>
						<div class="row">
							<div class="col-4 col-12-narrow">
								<h3>Diam vivamus turpis lorem sodales lectus ornare</h3>
								<p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales. Diam
								tempor dui lacinia eget ornare varius gravida. Gravida dis placerat lectus ante
								vel nunc euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus
								augue cubilia vivamus nisi eu eget ornare varius gravida euismod.  Gravida dis
								lorem ipsum dolor placerat magna tempus feugiat.</p>
								<p>Lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
								accumsan vivamus augue cubilia vivamus nisi eu eget ornare varius gravida dolore
								euismod lorem ipsum dolor sit amet consequat. vivamus nisi eu eget ornare varius
								gravida dolore euismod lorem ipsum dolor sit amet consequat. vivamus nisi eu
								eget ornare et magna.</p>
							</div>
							<div class="col-4 col-12-narrow">
								<p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales. Diam
								tempor dui lacinia eget ornare varius gravida. Gravida dis placerat lectus ante
								vel nunc euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus
								augue cubilia vivamus nisi eu eget ornare varius gravida euismod.  Gravida dis
								lorem ipsum dolor placerat magna tempus feugiat.</p>
								<p>Lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
								accumsan vivamus augue cubilia vivamus nisi eu eget ornare varius gravida dolore
								euismod lorem ipsum dolor sit amet consequat eget ornare varius gravida euismod.
								Gravida dis lorem ipsum dolor placerat magna tempus feugiat magna tempus lorem.</p>
								<p>Lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
								accumsan vivamus augue cubilia.</p>
							</div>
							<div class="col-4 col-12-narrow">
								<p>Placerat lectus ante vel nunc euismod est turpis sodales. Diam tempor dui
								lacinia eget ornare varius gravida. Gravida dis placerat lectus ante vel nunc
								euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus augue
								cubilia vivamus nisi eu eget ornare varius gravida euismod.  Gravida dis
								lorem ipsum dolor placerat magna tempus feugiat. Lectus ante vel nunc euismod
								est turpis sodales. Diam tempor dui lacinia dolore.</p>
								<p>Accumsan vivamus augue cubilia vivamus nisi eu eget ornare varius gravida
								dolore euismod lorem ipsum dolor sit amet conseismod lorem ipsum dolor sit amet
								consequat lorem ipsum consequat feugiat sed tempus euismod feugiat veroeros.</p>
								<footer>
									<a href="#fourth" class="button scrolly">Ipsum ornare lorem dolor</a>
								</footer>
							</div>
						</div>
					</div>
				</div>
			</section>
  -->
		<!-- Basic Elements -->
		<!--
			<section class="main">
				<header>
					<div class="container">
						<h2>A Whole Lotta Elements</h2>
						<p>General purpose elements for every general purpose. Or something like that.</p>
					</div>
				</header>
				<div class="content style1 dark">
					<div class="container">
						<section>
							<header>
								<h3>Paragraph</h3>
								<p>This is a byline</p>
							</header>
							<p>Phasellus nisl nisl, varius id <sup>porttitor sed pellentesque</sup> ac orci. Pellentesque
							habitant <strong>strong</strong> tristique <b>bold</b> et netus <i>italic</i> malesuada <em>emphasized</em> ac turpis egestas. Morbi
							leo suscipit ut. Praesent <sub>id turpis vitae</sub> turpis pretium ultricies. Vestibulum sit
							amet risus elit.</p>
						</section>
						<section>
							<header>
								<h3>Blockquote</h3>
							</header>
							<blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget.
							tempus euismod. Vestibulum ante ipsum primis in faucibus. Cras sit amet urna eros, id egestas
							tempus ante ipsum primis in faucibus orci luctus et ultrices.</blockquote>
						</section>
						<section>
							<header>
								<h3>Divider</h3>
							</header>
							<p>Donec consectetur <a href="#">vestibulum dolor et pulvinar</a>. Etiam vel felis enim, at viverra
							ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
							facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
							tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
							posuere cubilia.</p>
							<hr />
							<p>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra
							ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
							facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
							tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
							posuere cubilia.</p>
						</section>
						<section>
							<header>
								<h3>Unordered List</h3>
							</header>
							<ul class="default">
								<li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
								<li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
								<li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
								<li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
							</ul>
						</section>
						<section>
							<header>
								<h3>Ordered List</h3>
							</header>
							<ol class="default">
								<li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
								<li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
								<li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
								<li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
							</ol>
						</section>
						<section>
							<header>
								<h3>Table</h3>
							</header>
							<div class="table-wrapper">
								<table class="default">
									<thead>
										<tr>
											<th>ID</th>
											<th>Name</th>
											<th>Description</th>
											<th>Price</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>00001</td>
											<td>Lorem ipsum dolor</td>
											<td>Ut porttitor sagittis lorem quis nisi ornare.</td>
											<td>29.99</td>
										</tr>
										<tr>
											<td>00002</td>
											<td>Sit amet nullam</td>
											<td>Ut porttitor sagittis lorem quis nisi ornare.</td>
											<td>19.99</td>
										</tr>
										<tr>
											<td>00003</td>
											<td>Feugiat felis viverra</td>
											<td>Ut porttitor sagittis lorem quis nisi ornare.</td>
											<td>29.99</td>
										</tr>
										<tr>
											<td>00004</td>
											<td>Sagittis enim felis</td>
											<td>Ut porttitor sagittis lorem quis nisi ornare.</td>
											<td>19.99</td>
										</tr>
										<tr>
											<td>00005</td>
											<td>Nullam sed vestibulum</td>
											<td>Ut porttitor sagittis lorem quis nisi ornare.</td>
											<td>19.99</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td colspan="3"></td>
											<td>100.00</td>
										</tr>
									</tfoot>
								</table>
							</div>
						</section>
						<section>
							<header>
								<h3>Form</h3>
							</header>
							<form method="post" action="#">
								<div class="row gtr-50">
									<div class="col-6 col-12-narrow">
										<input type="text" name="name" id="name" value="" placeholder="John Doe" />
									</div>
									<div class="col-6 col-12-narrow">
										<input type="text" name="email" id="email" value="" placeholder="johndoe@domain.tld" />
									</div>
									<div class="col-12">
										<div class="select" tabindex="-1">
											<select name="department" id="department">
												<option value="">Choose a department</option>
												<option value="1">Manufacturing</option>
												<option value="2">Administration</option>
												<option value="3">Support</option>
											</select>
										</div>
									</div>
									<div class="col-12">
										<input type="text" name="subject" id="subject" value="" placeholder="Enter your subject" />
									</div>
									<div class="col-12">
										<textarea name="message" id="message" placeholder="Enter your message"></textarea>
									</div>
									<div class="col-12">
										<ul class="actions">
											<li><input type="submit" class="button" value="Send Message" /></li>
											<li><input type="reset" class="button alt" value="Clear Form" /></li>
										</ul>
									</div>
								</div>
							</form>
						</section>
					</div>
				</div>
			</section>
		-->

		<!-- Fourth -->
			<section id="fourth" class="main">
				<header>
					<div class="container">
						<h2>Contact Me</h2>
						<p>Let me know if you found this useful or any improvements you would like to see.</p>
					</div>
				</header>
				<div class="content style4 featured">
					<div class="container medium">
						<form method="post" action="#" netlify>
							<div class="row gtr-50">
								<div class="col-6 col-12-mobile"><input type="text" placeholder="Name" /></div>
								<div class="col-6 col-12-mobile"><input type="text" placeholder="Email" /></div>
								<div class="col-12"><textarea name="message" placeholder="Message"></textarea></div>
								<div class="col-12">
									<ul class="actions special">
										<li><input type="submit" class="button" value="Send Message" /></li>
										<li><input type="reset" class="button alt" value="Clear Form" /></li>
									</ul>
								</div>
							</div>
						</form>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<section id="footer">
				<ul class="icons">
					<li><a href="https://twitter.com/andygoldstein00" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="https://github.com/muckitymuck" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
				</ul>
				<div class="copyright">
					<ul class="menu">
						<li>&copy; Muckitymuck. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</section>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>

	</body>
</html>